system/system/app/Chrome/Chrome.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/OppoGallery2/OppoGallery2.apk
system/system/priv-app/Velvet/Velvet.apk
vendor/etc/camera/license.lic
vendor/etc/license.lic
